* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

/* Styling of navbar */
nav {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0.625rem 15rem;
  background-color: #242124;
  color: #f7f4ef;
  border-bottom: 2px solid #5c545c;
}

ul {
  list-style-type: none;
}

.nav-links {
  display: flex;
  gap: 2em;
  margin-left: auto;
}

.nav-link {
  height: 2em;
  padding: 5px;
}

.nav-link:hover,
.nav-link:focus {
  animation: underline 0.5s linear 0s 1 normal forwards;
}

@keyframes underline {
  from {
    border-bottom: none;
  }
  to {
    border-bottom: 2px solid #f7f4ef;
  }
}

/* Styling of main section of the page */
main {
  padding: 3rem 15rem;
  background-color: #242124;
}

/* Styling of random recipe card */
.random-recipe {
  border: 5px solid #5c545c;
  padding: 1em;
  border-radius: 10px;
  background-color: #fff;
  max-width: 20rem;
}

.random-content h3 {
  width: 100%;
  text-align: justify;
  line-height: 1.3em;
  font-size: 1.1rem;
  color: #242124;
  border-bottom: 1px solid #5c545c;
  padding: 1rem;
}

.random-content h3 span {
  float: right;
}

#random-img {
  width: 100%;
  border-radius: 10px;
}

.accordion-body {
  display: grid;
  grid-template-rows: 0fr;
  transition: 250ms grid-template-rows ease;
}

.accordion:hover .accordion-body {
  grid-template-rows: 1fr;
}

.accordion-body > div {
  overflow: hidden;
}

#random-ingredients li,
#random-steps li {
  margin: 0.5rem 2rem;
}
